<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <!-- Navigation links  -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard"><button>Dashboard</button></a></li>
                <li><a href="/login"><button>Login</button></a></li>
                <li><a href="/logout"><button>Logout</button></a></li>
            </ul>
        </nav>
    </header>
    <h1>MVC Tech Blog</h1>
    <main>
        
   
     {{{body}}}

    </main>
    <footer>
   
    </footer>
    <!-- Scripts -->
    <script src="/js/logout.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/login.js"></script>

</body>
</html>
